<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Title</title>
</head>
<body>

    <input id="input_data" type="text">
    <input value="submit" type="button" onclick="send_input()">
    <h1 id="text">Hello Sunyoung !!</h1>

</body>
<script>
    <!-- 서버 호출 함수 -->
    function send_input() {
        axios.post('/accounts/hello_world/', {
            firstName: 'Fred',
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
    }
</script>
</html>