{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <div id="alert_box"></div>

    <div class="my-5">
        <h2>Update Account</h2>
    </div>

    <div>
        <input id="username" type="text" placeholder="ID" />
        <input id="email" type="email" placeholder="email" />
        <input type="submit" onclick="update_account('{{ view.kwargs.pk }}');"
           class="btn btn-dark rounded-pill px-5" />
    </div>
</div>

<script src="{% static 'JavaScript/update.js' %}"></script>
<script>initialize("{{ view.kwargs.pk }}")</script>

{% endblock %}